<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>599F5F761BF0EF78004072A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599F5F8A1BF0EF79004072A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>599F5F951BF0EF7A004072A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
